/DentalClinic/nbproject/private/
/EventCompany/nbproject/private/
/AutomotiveWorkshop/nbproject/private/
/StreamingPlatform/nbproject/private/
/PrivateSecurityCompany/nbproject/private/
/School/nbproject/private/
/ConstructionCompany/nbproject/private/
/Gym/nbproject/private/
/TravelAgency/nbproject/private/
/EditorialPublicationSystem/nbproject/private/
/PaymentMethods/nbproject/private/
/PaymentMethods/build/
/TravelAgency/build/
/Command/nbproject/private/
/Gym/build/
/ConstructionCompany/build/
/DentalClinic/build/
/EventCompany/build/
/AutomotiveWorkshop/build/
